

.grey{
  background-color: #686c6f;
  font-size: 10px;
  width: 120px;
}

.clip{
  /*background: black;*/
  margin-top: 10px
}

.orange{
  color: orange;
}

.red{
  color: red;
}

.sun{
  background: url("/assets/sun.png") no-repeat;
  min-width: 12px;
  background-size: 100%;
  position: relative;
  min-height: 13px;
  display: inline-block;
  top: 4px;
}

.light{
  font-family: 'DINPro-Light' !important;
}


.speed{
  font-size: 40px;
  padding-top: 10px;  
}

.meter_div{
  text-align: center;
}

.location-marker{
  background: url("/assets/location.png") no-repeat;
  min-width: 11px; 
  min-height: 17px;
  background-position: center;  
  display: inline-block;
  background-size: 100%;
}

.meter-icon{
  background: url("/assets/meter.png") no-repeat;
  min-width: 10px; 
  min-height: 15px;
  background-position: center;
  margin-top: -13px;
  background-size: 80%;
}

.share-div{
  cursor: pointer;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: 0px;
  padding-top:  7px;
  font-size: 17px;
  background: url("/assets/share.png") no-repeat;
  background-position: 10% 10px;
  background-size: 17px;
}

#car_top{
  position: absolute;
  top: 118px;
  left: 43%;
  width: 25px;
  height: 100px;
  background: url("/assets/car-top.png") no-repeat;
}

.share-div a{
  color: white !important;
  margin-left: 30px
}

.show .time{
  margin-top: -10px;
}

.clip_tumbnail img{
  height: 155px;
  width: 100%;
}

.clip_detail{
  border: 1px solid black;
  color: white;
  font-size: 15px;
  margin-top: 5px;
  padding-left: 20px;
}

.clip_detail.time{
  font-size: 25px;
  margin-top: -5px;
}
.clip_detail.speed_loc{
  font-size: 12px;
}

.bold{
  font-weight: bold;
}

.clip_tumbnail{
 border: 1px solid black; 
}

.show .clip{
  color: white;
  height: 260px;
}

.show .clip .video_div iframe{
  height: 310px !important;
  width: 550px;
}

.map_div{
  position: relative;
}

.map_div img{
  width: 100%;
  height: 170px;
}

.show .video_div{
  position: relative;
}

.show .video_div #video_overlays{
  position: absolute;
  top: 0px;
  right: 0px;
}


/*share buttons*/
.share_head{
  text-align: center; 
  width: 500px;
  font-size: 30px;
  color: white;
  height: 50px;
  padding-top: 15px;
}


.share_btn{
  cursor: pointer;
}

.back_btn{
  margin-top: 25px;
}

.back_btn a, .back_btn a:hover{
  background-color: #686c6f;
  width: 70px;
  padding: 15px;
  color: white !important;
}

.share_btn.box{
  background: url('/assets/box.png') no-repeat;
  height: 132px;
  width: 570px;
  background-size: 100%;
}

.share_btn.box.loading{
  background: url('/assets/box-loading.png') no-repeat;
}

.share_btn.box.loading.done{
  background: url('/assets/box-done.png') no-repeat;
}

.share_btn.tube{
  background: url('/assets/tube.png') no-repeat;
  height: 132px;
  width: 570px;
  background-size: 100%;
}

.share_btn.tube.loading{
  background: url('/assets/tube-loading.png') no-repeat;
}

.share_btn.tube.loading.done{
  background: url('/assets/tube-done.png') no-repeat;
}


