Sharing <%= @clip.id %>

<a class='btn share_btn'> Dropbox</a>
<a class='btn share_btn'> Facebook</a>




<script type="text/javascript">
$(document).ready(function(){
  $('body').on('click', '.share_btn', function(){
    
  })
})
</script>