#splash
  #content
    .brand Roadview
    %p.motto Playback & share anything from <br/> the road.
    %p.details Save last 60 seconds off your front-view camera <br/> with a voice command

    %form.invitation_request
      %p Enter your email for early access
      = text_field_tag "email"
      = button_tag "REQUEST", class: 'submit'